{% extends 'home/base.html' %}

{% block main %}
{% load static %}
<link href="{% static 'meditation/css/meditation.css' %}" rel="stylesheet">

    <p>"Lord Jesus Christ..."</p>
    <br>
    <div class="media text-muted pt-3">
        <div class="watch-face">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
    </div>
    <br><br>
    <p>"have mercy on me"</p>

    <small class="d-block text-right mt-3">
        <button id="btnToggle" class="btn btn-outline-info btn-sm" onclick="toggleInstructions()">Show Instructions</button>
    </small>

    <div id="instructions" style="visibility: hidden" class="media text-muted pt-3">
      Pray the top line while inhaling as the figure expands<br>Pray the bottom line exhailing while the figure contracts
    </div> 

<script src="{% static 'meditation/js/meditation.js' %}"></script>
{% endblock %}