container_commands:
  01_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  02_makemigrations:
    command: "source /opt/python/run/venv/bin/activate && python manage.py makemigrations --noinput"
  03_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
  04_create_superuser_for_django_admin:
    "source /opt/python/run/venv/bin/activate && python manage.py mysuperuser"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: lexcredendi/wsgi.py